name: Coverage

on:
  push:
    branches:
      - main
      - rkt*
    paths:
      - "**/*.go"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.go"

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.16.2"

      - name: Checkout
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go mod tidy && go mod download

      - name: Run coverage
        run: |
          chmod u+x ./testing/coverage/coverall2
          bash ./testing/coverage/coverall2

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt
          fail_ci_if_error: true
